<div class="footer-widgets">
  <div class="wrap">
    <div class="widget-area footer-widgets-1 footer-widget-area">
      <section class="widget_text widget widget_custom_html">
        <div class="widget_text widget-wrap">
          <div class="textwidget custom-html-widget">
            <div class="footer-logo">
              <img src="/wp-content/uploads/2018/02/CRwatchdog.png" alt="footer-logo">
            </div>
            <p>
              CR watchdog is a fan site started in 2017. We review the reviews to help you find all the best for you and your family.
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="widget-area footer-widgets-2 footer-widget-area">
      <section class="widget widget_nav_menu">
        <div class="widget-wrap">
          <h4 class="widget-title widgettitle">Explore more</h4>
          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li class="menu-item"><a href="/about/" itemprop="url">About Us</a></li>
              <li class="menu-item"><a href="https://twitter.com/thecrwatchdog" itemprop="url">Twitter</a></li>
              <li class="menu-item"><a href="/best-cars-according-consumer-reports-2018/" itemprop="url">Buy a new car</a></li>
              <li class="menu-item"><a href="/best-used-cars-according-to-consumer-reports/" itemprop="url">Buy a Used Car</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <div class="widget-area footer-widgets-3 footer-widget-area">
      <section class="widget widget_text">
        <div class="widget-wrap">
          <h4 class="widget-title widgettitle">Contact</h4>
          <div class="textwidget"></div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="wprm-wrapper">
  <div id="wprmenu_bar" class="wprmenu_bar bodyslide left">
    <div class="hamburger hamburger--slider">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
    <div class="menu_title"><a href="/"></a></div>
  </div>

  <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left default" id="mg-wprm-wrap">
    <ul id="wprmenu_menu_ul">
      <li class="menu-item"><a href="/category/appliances/" itemprop="url">Appliances</a></li>
      <li class="menu-item"><a href="/category/best-washer/" itemprop="url">Best Washer</a></li>
      <li class="menu-item"><a href="/category/best-dryer/" itemprop="url">Best Dryer</a></li>
      <li class="menu-item"><a href="/category/flat-screen/" itemprop="url">Flat Screen</a></li>
      <li class="menu-item"><a href="/best-cars-according-consumer-reports-2018/" itemprop="url">Best Cars</a></li>
      <li class="menu-item"><a href="/best-rowing-machines-according-to-consumer-reports-buying-guide/" itemprop="url">Rowing Machine</a></li>

      <li>
        <div class="wpr_search search_top">
          <form role="search" method="get" class="wpr-search-form" action="/">
            <label></label>
            <input type="search" class="wpr-search-field" placeholder="Which product are you looking for today?" value="" name="s" title="Which product are you looking for today?">
            <button type="submit" class="wpr_submit">
              <i class="wpr-icon-search"></i>
            </button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
