<header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
  <div class="wrap">
    <div class="title-area">
      <p class="site-title" itemprop="headline"><a href="/">CRwatchdog</a></p>
      <p class="site-description" itemprop="description">A Consumer Reports Fan Site</p>
    </div>

    <div class="widget-area header-widget-area">
      <section id="nav_menu-2" class="widget-odd widget-first widget-1 widget widget_nav_menu">
        <div class="widget-wrap">
          <h4 class="widget-title widgettitle">Main Menu</h4>

          <nav class="nav-header" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <ul id="menu-top-menu" class="menu genesis-nav-menu">
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-48">
                <a href="/category/appliances/" itemprop="url"><span itemprop="name">Appliances</span></a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-51">
                <a href="/category/best-washer/" itemprop="url"><span itemprop="name">Best Washer</span></a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-50">
                <a href="/category/best-dryer/" itemprop="url"><span itemprop="name">Best Dryer</span></a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52">
                <a href="/category/flat-screen/" itemprop="url"><span itemprop="name">Flat Screen</span></a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-377">
                <a href="/best-cars-according-consumer-reports-2018/" itemprop="url"><span itemprop="name">Best Cars</span></a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1714">
                <a href="/best-rowing-machines-according-to-consumer-reports-buying-guide/" itemprop="url"><span itemprop="name">Rowing Machine</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </section>

      <section id="search-4" class="widget-even widget-last widget-2 widget widget_search">
        <div class="widget-wrap">
          <h4 class="widget-title widgettitle">Search</h4>
          <form class="search-form" method="get" action="/">
            <input type="search" name="s" placeholder="Which product are you looking for today?">
            <input type="submit" value="">
          </form>
        </div>
      </section>
    </div>
  </div>
</header>
